In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler

In [2]:
df= pd.read_csv("car_data.csv")

In [3]:
df.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [4]:
df.columns

Index(['User ID', 'Gender', 'Age', 'AnnualSalary', 'Purchased'], dtype='object')

In [5]:
df.describe

<bound method NDFrame.describe of      User ID  Gender  Age  AnnualSalary  Purchased
0        385    Male   35         20000          0
1        681    Male   40         43500          0
2        353    Male   49         74000          0
3        895    Male   40        107500          1
4        661    Male   25         79000          0
..       ...     ...  ...           ...        ...
995      863    Male   38         59000          0
996      800  Female   47         23500          0
997      407  Female   28        138500          1
998      299  Female   48        134000          1
999      687  Female   44         73500          0

[1000 rows x 5 columns]>

In [6]:
df.shape

(1000, 5)

In [7]:
gender = {'Male':0,'Female':1}

In [8]:
age_mean_male=np.mean(df[df['Gender']==0]['Age'].values)
age_mean_fmale=np.mean(df[df['Gender']==1]['Age'].values)

In [9]:
df["Gender"]=df["Gender"].map(gender)

In [11]:
sns.displot(ax=ax, x=df['Age'],hue=df['Purchased'], linewidth=5)
ax.plot(age_mean_male,0,marker='o',markersize=5)
ax.plot(age_mean_fmale,0,marker='o',markersize=5)

NameError: name 'ax' is not defined

In [ ]:
sal_mean_male=np.mean(df[df['Gender']==0]['AnnualSalary'].values)
sal_mean_fmale=np.mean(df[df['Gender']==1]['AnnualSalary'].values)
sns.displot(ax=ax, x=df['AnnualSalary'],hue=df['Purchased'], linewidth=5)
ax.plot(sal_mean_male,0,marker='o',markersize=10)
ax.plot(sal_mean_fmale,0,marker='o',markersize=10)

In [ ]:
plt = sns.countplot(df['Gender'],hue=df['Purchased'], color = 'Purple')

In [ ]:
plt = sns.countplot(df['Purchased'], color = 'Purple')

In [ ]:
scalar=StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_=df.drop('User ID',axis=1)
X=X_.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,y_pred))

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
conf=confusion_matrix(y_test,y_pred)
conf=sns.heatmap(conf,annot=True,fmt='.4g')
conf.set_xlabel("Predicted values")
conf.set_ylabel("Actual values")
conf.set_title("Confusion matrix")